{%load static%}

<section class="contacts" id="contacts">
   <div class="contacts__inner">
{% if citygeo.name == 'Барнаул' %}
    {% include 'maps_main/ppageContactsBarnaul.html' %}
{% elif citygeo.name == 'Екатеринбург' %}
    {% include 'maps_main/ppageContactsEkaterinburg.html' %} 
{% elif citygeo.name == 'Иркутск' %}
    {% include 'maps_main/ppageContactsIrkutsk.html' %}
{% elif citygeo.name == 'Кемерово' %}
    {% include 'maps_main/ppageContactsKemerovo.html' %}
{% elif citygeo.name == 'Красноярск' %}
    {% include 'maps_main/ppageContactsKrasnoiarsk.html' %}
{% elif citygeo.name == 'Новокузнецк' %}
    {% include 'maps_main/ppageContactsNovokuznetsk.html' %}
{% elif citygeo.name == 'Новосибирск' %}
    {% include 'maps_main/ppageContactsNovosibirsk.html' %}
{% elif citygeo.name == 'Омск' %}
    {% include 'maps_main/ppageContactsOmsk.html' %}
{% elif citygeo.name == 'Томск' %}
    {% include 'maps_main/ppageContactsTomsk.html' %}
{% elif citygeo.name == 'Тюмень' %}
    {% include 'maps_main/ppageContactsTumen.html' %}
{% elif citygeo.name == 'Улан-Удэ' %}
    {% include 'maps_main/ppageContactsUlanUde.html' %}
{%endif%}

   </div>
</section>