{%load static%}

<section class="contacts" id="contacts">
   <div class="contacts__inner">
       <div class="contacts__address">
           <p class="contacts__address-title">Контакты</p>
           <div class="contacts__address-total">
             <div class="contacts__address-location">
               <img src="{%static 'img/location_contact.svg'%}" alt="location" />
               <p class="contacts__address-text">
                 г. Иркутск, Старо-Кузьмихинская 71/1
               </p>
             </div>
             <div class="contacts__address-works">
               <img src="{%static 'img/clock.svg'%}" alt="clock" />
               <p class="contacts__address-text">
                 Пн-Пт с 9:00 до 18:00 <br />
                 Сб с 10:00 до 14:00
               </p>
             </div>
             <div class="contacts__address-phone">
               <img src="{%static 'img/call.svg'%}" alt="phone">
               <p class="contacts__address-text">
                   +7 (3952) 50-37-75
                 </p>
             </div>
           </div>
           <a class="button contacts__button" href="{%url 'etaxi:contacts' citygeo.name %}">Все филиалы</a>
         </div>
       <div class="map">
           <iframe
               src="https://yandex.ru/map-widget/v1/?um=constructor%3A4b8508d7139b2b61ed46cca9745440083eb5f0d9aa895c218d5b868aa1f1984a&amp;source=constructor"
               width="690"
               height="440"
               frameborder="0">
           </iframe>
       </div>

   </div>
</section>