{%load static%}
<section class="rent" id="rent">
   <h2 class="rent-title title">Условия аренды</h2>
   <ul class="rent-list">
       <li class="rent__item">Водительские права категории "B"</li>
       <li class="rent__item">Стаж вождения не менее 3-х лет</li>
   </ul>
   <h2 class="stage-rent-title title">Этапы аренды автомобиля</h2>
   <div class="stage-rent-inner">
       <div class="stage-rent__item">
           <div class="stage-rent-number">1</div>
           <div class="stage-rent-subtitle subtitle">Заявка на сайте</div>
           <p class="stage-rent-text text">Выберите желаемую модель автомобиля, заполните заявку <br> на сайте и отправьте её</p>
       </div>
       <div class="stage-rent__item">
           <div class="stage-rent-number">2</div>
           <div class="stage-rent-subtitle subtitle">Собеседование</div>
           <p class="stage-rent-text text">Вам перезвонит менеджер, ответит на все вопросы и пригласит на собеседование</p>
       </div>
       <div class="stage-rent__item">
           <div class="stage-rent-number">3</div>
           <div class="stage-rent-subtitle subtitle">Проверка</div>
           <p class="stage-rent-text text">Проверка службой безопасности по анкете, заполненной на собеседовании</p>
       </div>
       <div class="stage-rent__item">
           <div class="stage-rent-number">4</div>
           <div class="stage-rent-subtitle subtitle">Обучение</div>
           <p class="stage-rent-text text">Инструктаж и подписание договора на аренду машины под такси</p>
       </div>
       <div class="stage-rent__item">
           <div class="stage-rent-number">5</div>
           <div class="stage-rent-subtitle subtitle">Автомобиль</div>
           <p class="stage-rent-text text">Выдача автомобиля и начало работы в Яндекс Такси</p>
       </div>
   </div>
   <div class="stage-rent-connect">Уже через 1-2 часа после звонка вы получите автомобиль!</div>
</section>