{%load static%} 
      <div class="container">
        <section class="main-contacts__section" id="contacts">
          <div class="main__title-select">
            <h3 class="main__title">Контакты в Тюмени</h3>
            <span class="header-cityAbout">Тюмень</span>
            <figure class="header-expandMoreAbout">
                <img src="{%static 'img/expand_more.svg'%}" alt="expand_more">
            </figure>
          </div>
          <div class="main__map">
            <iframe
              src="https://yandex.ru/map-widget/v1/?um=constructor%3Ab18789abde082b999bed418452d252713019a0aef77a9cac20519249de36425f&amp;source=constructor"
              width="1200" 
              height="400" 
              frameborder="0">
            </iframe>
          </div>

          <div class="main__contacts">
            <div class="main__contacts-item">
              <div class="district">Матмасы <br> Ленинский округ </div>
              <div class="main__contacts-address">
                <div class="street">
                  ​Тимофея Чаркова переулок, 43 ст2
                </div>
                <div class="opening-hours">
                  Пн-Пт с 9:00 до 18:00 <br>
                  Сб-Вс с 10:00 до 16:00  
                </div>
                <a class="howCanIgetTo" href="#">Как проехать</a>
              </div>
              <a class="main__contacts-phone" href="tel:+73452594951">+7 (3452) 59‒49‒51</a>
            </div>

            <div class="main__contacts-item">
              <div class="district">У озера квартал<br>Ленинский округ</div>
              <div class="main__contacts-address">
                <div class="street">
                  ​Стройотрядовская улица, 12, ​10 помещение (1 этаж)
                </div>
                <div class="opening-hours">
                  Пн-Пт с 9:00 до 18:00 <br>
                  Сб-Вс с 10:00 до 16:00
                </div>
                <a class="howCanIgetTo" href="#">Как проехать</a>
              </div>
              <a class="main__contacts-phone" href="tel:+73452594951">+7 (3452) 59‒49‒51 <br> +7 (3452) 21‒94‒78</a>
            </div>

            <div class="main__contacts">
              <div class="main__contacts-item">
                <div class="district">д. Дударева <br> Тюменский район </div>
                <div class="main__contacts-address">
                  <div class="street">
                    ​Созидателей, 16
                  </div>
                  <div class="opening-hours">
                    Пн-Пт с 9:00 до 18:00 <br>
                    Сб-Вс с 10:00 до 15:00  
                  </div>
                  <a class="howCanIgetTo" href="#">Как проехать</a>
                </div>
                <a class="main__contacts-phone" href="tel:+73452594951">+7 (3452) 59‒49‒51 <br> +7 (3452) 69‒22‒36</a>
              </div>

          </div>
        </section>
      </div>