{%load static%}

   <section class="main-contacts__section" id="contacts">
     <div class="main__title-select">
       <h3 class="main__title">Контакты в Тюмене</h3>
       <div class="dropDown-contacts">
              <div class="dropDown-contacts-selectCity">
                  <div class="dropDown-contacts-city">Тюмень</div>
                    <figure class="dropDown-contacts-img-down">
                      <img src="{%static 'img/expand_more.svg'%}" alt="expand more">
                    </figure>
                    <figure class="dropDown-contacts-img-up">
                      <img src="{%static 'img/expand_more_up.svg'%}" alt="expand more">
                    </figure>
              </div>

              <div class="dropDown-contacts-list">
                    {%for city in cities%}
                      <a class="dropDown-contacts__item" href="{% url 'etaxi:contacts' city.name %}">{{city.name}}</a>
                    {%endfor%}
              </div>
        </div>
      </div>


    <!-- вот отсюда код меняем карты и адресов -->
    
    <div class="main__map">
      <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ab18789abde082b999bed418452d252713019a0aef77a9cac20519249de36425f&amp;width=100%&amp;height=100%&amp;lang=ru_RU&amp;scroll=true"></script>          
    </div>  
    <div class="main__contacts">

      <div class="main__contacts-item">
        <div class="district"> <span>Матмасы</span> Ленинский округ </div>
        <div class="main__contacts-address">
          <div class="street">
            ​Тимофея Чаркова переулок, 43 ст2
          </div>
          <div class="opening-hours">
            Пн-Пт с 9:00 до 18:00 <br>
            Сб-Вс с 10:00 до 16:00  
          </div>
          <a class="mobile-version" href="tel:+73452594951">+7 (3452) 59‒49‒51</a>
        </div>
        <a class="main__contacts-phone" href="tel:+73452594951">+7 (3452) 59‒49‒51</a>
      </div>

      <div class="main__contacts-item">
        <div class="district"> <span>У озера квартал</span> Ленинский округ</div>
        <div class="main__contacts-address">
          <div class="street">
            ​Стройотрядовская улица, 12, ​10 помещение (1 этаж)
          </div>
          <div class="opening-hours">
            Пн-Пт с 9:00 до 18:00 <br>
            Сб-Вс с 10:00 до 16:00
          </div>
          <a class="mobile-version" href="tel:+73452594951">+7 (3452) 59‒49‒51</a>
          <a class="mobile-version" href="tel:+73452594951">+7 (3452) 21‒94‒78</a>
        </div>

        <div class="contacts-phones">
          <a class="main__contacts-phone" href="tel:+73452594951">+7 (3452) 59‒49‒51</a>
          <a class="main__contacts-phone" href="tel:+73452594951">+7 (3452) 21‒94‒78</a>
        </div>

      </div>

      <div class="main__contacts">
        <div class="main__contacts-item">
          <div class="district"> <span>д. Дударева</span> Тюменский район </div>
          <div class="main__contacts-address">
            <div class="street">
              ​Созидателей, 16
            </div>
            <div class="opening-hours">
              Пн-Пт с 9:00 до 18:00 <br>
              Сб-Вс с 10:00 до 15:00  
            </div>
            <a class="mobile-version" href="tel:+73452594951">+7 (3452) 59‒49‒51</a>
            <a class="mobile-version" href="tel:+73452692236">+7 (3452) 69‒22‒36</a>
          </div>

          <div class="contacts-phones">
            <a class="main__contacts-phone" href="tel:+73452594951">+7 (3452) 59‒49‒51</a>
            <a class="main__contacts-phone" href="tel:+73452692236">+7 (3452) 69‒22‒36</a>
          </div>


        </div>

                <!-- вот досюда код меняем карты и адресов -->

    </div>
  </section>