{%load static%}  
      <div class="container">
        <section class="main-contacts__section" id="contacts">
          <div class="main__title-select">
            <h3 class="main__title">Контакты в Улан-Удэ</h3>
            <span class="header-cityAbout">Улан-Удэ</span>
            <figure class="header-expandMoreAbout">
                <img src="{%static 'img/expand_more.svg'%}" alt="expand_more">
            </figure>
          </div>
          <div class="main__map">
            <iframe
              src="https://yandex.ru/map-widget/v1/?um=constructor%3Ab605e122956c72387a58a304ff7b27a28ec462b393007b4e04674cb8d21414d8&amp;source=constructor"
              width="1200" 
              height="400" 
              frameborder="0">
            </iframe>
          </div>

          <div class="main__contacts">
            <div class="main__contacts-item">
              <div class="district">Октябрьский район </div>
              <div class="main__contacts-address">
                <div class="street">
                  ​Трубачеева, 67А
                </div>
                <div class="opening-hours">
                  Пн-Пт с 9:00 до 18:00 <br>
                  Сб-Вс с 10:00 до 16:00  
                </div>
                <a class="howCanIgetTo" href="#">Как проехать</a>
              </div>
              <a class="main__contacts-phone" href="tel:+73012204337">+7 (3012) 20‒43‒37</a>
            </div>

            <div class="main__contacts-item">
              <div class="district">Железнодорожный район</div>
              <div class="main__contacts-address">
                <div class="street">
                  ​​Проспект Автомобилистов, 3Б (​2 этаж)
                </div>
                <div class="opening-hours">
                  Пн-Пт с 9:00 до 18:00 <br>
                  Сб-Вс с 10:00 до 14:00
                </div>
                <a class="howCanIgetTo" href="#">Как проехать</a>
              </div>
              <a class="main__contacts-phone" href="tel:+73012514668">+7 (3012) 51‒46‒68</a>
            </div>

            <div class="main__contacts">
              <div class="main__contacts-item">
                <div class="district">Октябрьский район </div>
                <div class="main__contacts-address">
                  <div class="street">
                    ​Улица Бабушкина, 198а
                  </div>
                  <div class="opening-hours">
                    Пн-Пт с 9:00 до 18:00 <br>
                    Сб-Вс с 10:00 до 14:00  
                  </div>
                  <a class="howCanIgetTo" href="#">Как проехать</a>
                </div>
                <a class="main__contacts-phone" href="tel:+73012514669">+7 (3012) 51‒46‒69</a>
              </div>

          </div>
        </section>
      </div>