{%load static%}
      <div class="container">
        <section class="main-contacts__section" id="contacts">
          <div class="main__title-select">
            <h3 class="main__title">Контакты в Красноярске</h3>
            <span class="header-cityAbout">Красноярск</span>
            <figure class="header-expandMoreAbout">
                <img src="{%static 'img/expand_more.svg'%}" alt="expand_more">
            </figure>
          </div>
          <div class="main__map">
            <iframe
              src="https://yandex.ru/map-widget/v1/?um=constructor%3A903ff479bda77d9ac9a87449af662e6b9eb10eb10c335f5ffc54154e86d199b4&amp;source=constructor"
              width="1200" 
              height="400" 
              frameborder="0">
            </iframe>
          </div>

          <div class="main__contacts">
            <div class="main__contacts-item">
              <div class="district">пос. Солонцы <br>
                Емельяновский район</div>
              <div class="main__contacts-address">
                <div class="street">
                  ​​Проспект Котельникова, 15/1
                </div>
                <div class="opening-hours">
                  Пн-Пт с 9:00 до 18:00 <br>
                  Сб-Вс с 10:00 до 14:00  
                </div>
                <a class="howCanIgetTo" href="#">Как проехать</a>
              </div>
              <a class="main__contacts-phone" href="tel:+73912269456">+7 (391) 226-94-56</a>
            </div>
          </div>

            <div class="main__contacts">
              <div class="main__contacts-item">
                <div class="district">Свердловский район</div>
                <div class="main__contacts-address">
                  <div class="street">
                    ​​Улица 60 лет Октября, 105ж/1
                  </div>
                  <div class="opening-hours">
                    Пн-Пт с 9:00 до 18:00 <br>
                    Сб-Вс с 10:00 до 17:00  
                  </div>
                  <a class="howCanIgetTo" href="#">Как проехать</a>
                </div>
                <a class="main__contacts-phone" href="tel:+73912269456">+7 (391) 226-94-56</a>
              </div>
            </div>

              <div class="main__contacts">
                <div class="main__contacts-item">
                  <div class="district">Ленинский район</div>
                  <div class="main__contacts-address">
                    <div class="street">
                      ​Коломенская, 17Б
                    </div>
                    <div class="opening-hours">
                      Пн-Пт с 10:00 до 18:00 <br>
                      Сб-Вс с 10:00 до 16:00  
                    </div>
                    <a class="howCanIgetTo" href="#">Как проехать</a>
                  </div>
                  <a class="main__contacts-phone" href="tel:+73912269456">+7 (391) 226‒94‒56 <br>
                    +7 (391) 290‒23‒76</a>
                </div>
              </div>

              <div class="main__contacts">
                <div class="main__contacts-item">
                  <div class="district">Северный <br>
                    Советский район</div>
                  <div class="main__contacts-address">
                    <div class="street">
                      ​Мате Залки, 3 ​2-03 офис (2 этаж)
                    </div>
                    <div class="opening-hours">
                      Пн-Пт с 9:00 до 18:00 <br>
                      Сб-Вс с 10:00 до 14:00  
                    </div>
                    <a class="howCanIgetTo" href="#">Как проехать</a>
                  </div>
                  <a class="main__contacts-phone" href="tel:+73822984030">+7 (391) 226‒94‒56 <br>
                    +7 (391) 226‒93‒02</a>
                </div>
              </div>

              <div class="main__contacts">
                <div class="main__contacts-item">
                  <div class="district">Центральный район</div>
                  <div class="main__contacts-address">
                    <div class="street">
                      ​Грани ​Улица Брянская 2-я, 4 ​301 офис (3 этаж)
                    </div>
                    <div class="opening-hours">
                      Пн-Пт с 9:00 до 18:00 <br>
                      Сб-Вс с 10:00 до 15:00  
                    </div>
                    <a class="howCanIgetTo" href="#">Как проехать</a>
                  </div>
                  <a class="main__contacts-phone" href="tel:+73912269456">+7 (391) 226‒94‒56 <br>
                    +7 (391) 219‒01‒76</a>
                </div>
              </div>

              <div class="main__contacts">
                <div class="main__contacts-item">
                  <div class="district">Черёмушки <br>
                    Ленинский район</div>
                  <div class="main__contacts-address">
                    <div class="street">
                      ​Улица Говорова, 71 (​3 этаж)
                    </div>
                    <div class="opening-hours">
                      Пн-Пт с 9:00 до 18:00 <br>
                      Сб-Вс с 10:00 до 14:00  
                    </div>
                    <a class="howCanIgetTo" href="#">Как проехать</a>
                  </div>
                  <a class="main__contacts-phone" href="tel:+73912269456">+7 (391) 226‒94‒56</a>
                </div>
              </div>

              <div class="main__contacts">
                <div class="main__contacts-item">
                  <div class="district">Железнодорожный район</div>
                  <div class="main__contacts-address">
                    <div class="street">
                      ​Улица Калинина, 66
                    </div>
                    <div class="opening-hours">
                      Пн-Пт с 9:00 до 18:00 <br>
                      Сб-Вс с 10:00 до 14:00  
                    </div>
                    <a class="howCanIgetTo" href="#">Как проехать</a>
                  </div>
                  <a class="main__contacts-phone" href="tel:+73912269456">+7 (391) 226‒94‒56 <br>
                    +7 (391) 226‒94‒53</a>
                </div>
              </div>

              <div class="main__contacts">
                <div class="main__contacts-item">
                  <div class="district">Октябрьский район</div>
                  <div class="main__contacts-address">
                    <div class="street">
                      ​Забобонова, 13​ (2 этаж, левое крыло)
                    </div>
                    <div class="opening-hours">
                      Пн-Пт с 9:00 до 18:00 <br>
                      Сб-Вс с 10:00 до 14:00  
                    </div>
                    <a class="howCanIgetTo" href="#">Как проехать</a>
                  </div>
                  <a class="main__contacts-phone" href="tel:+73912269456">+7 (391) 226‒94‒56 <br>
                    +7 (39198) 9‒84‒68</a>
                </div>
              </div>

              <div class="main__contacts">
                <div class="main__contacts-item">
                  <div class="district">Взлётка м-н <br>
                    Советский район</div>
                  <div class="main__contacts-address">
                    <div class="street">
                      ​Авиаторов, 3а​ (2 этаж)
                    </div>
                    <div class="opening-hours">
                      Пн-Пт с 9:00 до 18:00 <br>
                      Сб-Вс с 10:00 до 14:00  
                    </div>
                    <a class="howCanIgetTo" href="#">Как проехать</a>
                  </div>
                  <a class="main__contacts-phone" href="tel:+73912269456">+7 (391) 226‒94‒56 <br>
                    +7 (391) 290‒23‒97</a>
                </div>
              </div>

              <div class="main__contacts">
                <div class="main__contacts-item">
                  <div class="district">Пашенный м-н <br>
                    Свердловский район</div>
                  <div class="main__contacts-address">
                    <div class="street">
                      ​Полтавская, 38 ст1​301 кабинет (2 этаж)
                    </div>
                    <div class="opening-hours">
                      Пн-Пт с 9:00 до 18:00 <br>
                      Сб-Вс с 10:00 до 14:00  
                    </div>
                    <a class="howCanIgetTo" href="#">Как проехать</a>
                  </div>
                  <a class="main__contacts-phone" href="tel:+73912269456">+7 (391) 226‒94‒56 <br>
                    +7(983)278‒22‒05 <br>
                    +7 (391) 204‒60‒64
                    </a>
                </div>
              </div>
          </div>
        </section>
      </div>