{%load static%}

   <section class="main-contacts__section" id="contacts">
     <div class="main__title-select">
       <h3 class="main__title">Контакты в Томске</h3>
       <div class="dropDown-contacts">
              <div class="dropDown-contacts-selectCity">
                  <div class="dropDown-contacts-city">Томск</div>
                    <figure class="dropDown-contacts-img-down">
                      <img src="{%static 'img/expand_more.svg'%}" alt="expand more">
                    </figure>
                    <figure class="dropDown-contacts-img-up">
                      <img src="{%static 'img/expand_more_up.svg'%}" alt="expand more">
                    </figure>
              </div>

              <div class="dropDown-contacts-list">
                    {%for city in cities%}
                      <a class="dropDown-contacts__item" href="{% url 'etaxi:contacts' city.name %}">{{city.name}}</a>
                    {%endfor%}
              </div>
        </div>
      </div>


    <!-- вот отсюда код меняем карты и адресов -->
    
    <div class="main__map">
      <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A0e91527eb07811c5fa19a282980dd74767581e05ee649c76f76fa4b28b410b8c&amp;width=100%&amp;height=100%&amp;lang=ru_RU&amp;scroll=true"></script>          
    </div>  
    <div class="main__contacts">

      <div class="main__contacts-item">
        <div class="district">Советский район</div>
        <div class="main__contacts-address">
          <div class="street">
            ​ТЦ Город, ​Улица Герцена, 61/1 (​1 этаж)
          </div>
          <div class="opening-hours">
            Пн-Пт с 9:00 до 18:00 <br>
            Сб-Вс с 9:00 до 14:00  
          </div>
          <a class="mobile-version" href="tel:+73822984030">+7 (3822) 98‒40‒30</a>
        </div>
        <a class="main__contacts-phone" href="tel:+73822984030">+7 (3822) 98‒40‒30</a>
      </div>

        <div class="main__contacts-item">
          <div class="district">Советский район</div>
          <div class="main__contacts-address">
            <div class="street">
              ​Алтайская улица, 3​ (1 этаж)
            </div>
            <div class="opening-hours">
              Пн-Пт с 9:00 до 18:00 <br>
              Сб-Вс с 9:00 до 14:00  
            </div>
            <a class="mobile-version" href="tel:+73822994282">+7 (3822) 994‒282</a>
            <a class="mobile-version" href="tel:+73822994282">+7 (3822) 98‒40‒30</a>
          </div>
          <a class="main__contacts-phone" href="tel:+73822994282">+7 (3822) 994‒282 <br>
            +7 (3822) 98‒40‒30</a>
        </div>

          <div class="main__contacts-item">
            <div class="district">Ленинский район</div>
            <div class="main__contacts-address">
              <div class="street">
                ​Набережная реки Томи, 19/1​ (2 этаж)
              </div>
              <div class="opening-hours">
                Пн-Пт с 9:00 до 18:00 <br>
                Сб-Вс с 9:00 до 14:00  
              </div>
              <a class="mobile-version" href="tel:+73822984030">+7 (3822) 98‒40‒30</a>
              <a class="mobile-version" href="tel:+73822994035">+7 (3822) 99‒40‒35</a>
            </div>

              <div class="contacts-phones">
                <a class="main__contacts-phone" href="tel:+73822984030">+7 (3822) 98‒40‒30</a>
                <a class="main__contacts-phone" href="tel:+73822994035">+7 (3822) 99‒40‒35</a>
              </div>

          </div>

          <div class="main__contacts-item">
            <div class="district">Ленинский район</div>
            <div class="main__contacts-address">
              <div class="street">
                ​Проспект Мира, 50а​201 офис (2 этаж)
              </div>
              <div class="opening-hours">
                Пн-Пт с 9:00 до 18:00 <br>
                Сб-Вс с 9:00 до 14:00  
              </div>
              <a class="mobile-version" href="tel:+73822984030">+7 (3822) 98‒40‒30</a>
              <a class="mobile-version" href="tel:+73822984038">+7 (3822) 98‒40‒38</a>
            </div>

              <div class="contacts-phones">
                <a class="main__contacts-phone" href="tel:+73822984030">+7 (3822) 98‒40‒30</a>
                <a class="main__contacts-phone" href="tel:+73822984038">+7 (3822) 98‒40‒38</a>
              </div>

          </div>

          <div class="main__contacts-item">
            <div class="district">Октябрьский район</div>
            <div class="main__contacts-address">
              <div class="street">
                ​Иркутский тракт, 77
              </div>
              <div class="opening-hours">
                Пн-Пт с 9:00 до 18:00 <br>
                Сб-Вс с 10:00 до 14:00  
              </div>
              <a class="mobile-version" href="tel:+73822984030">+7 (3822) 98‒40‒30</a>
            </div>
            <a class="main__contacts-phone" href="tel:+73822984030">+7 (3822) 98‒40‒30</a>
          </div>

          <div class="main__contacts-item">
            <div class="district">Октябрьский район</div>
            <div class="main__contacts-address">
              <div class="street">
                ​Иркутский проезд, 1​,1 офис (2 этаж)
              </div>
              <div class="opening-hours">
                Пн-Пт с 9:00 до 18:00 <br>
                Сб-Вс с 10:00 до 14:00  
              </div>
              <a class="mobile-version" href="tel:+73822984030">+7 (3822) 98‒40‒30</a>
              <a class="mobile-version" href="tel:+73822984032">+7 (3822) 98‒40‒32</a>
            </div>

              <div class="contacts-phones">
                <a class="main__contacts-phone" href="tel:+73822984030">+7 (3822) 98‒40‒30</a>
                <a class="main__contacts-phone" href="tel:+73822984032">+7 (3822) 98‒40‒32</a>
              </div>

          </div>

          <div class="main__contacts-item">
            <div class="district">Октябрьский район</div>
            <div class="main__contacts-address">
              <div class="street">
                ​Торговая, 5
              </div>
              <div class="opening-hours">
                Пн-Пт с 9:00 до 18:00 <br>
                Сб-Вс с 10:00 до 16:00  
              </div>
              <a class="mobile-version" href="tel:+73822984038">+7 (3822) 98‒40‒38</a>
            </div>
            <a class="main__contacts-phone" href="tel:+73822984038">+7 (3822) 98‒40‒38</a>
          </div>

                <!-- вот досюда код меняем карты и адресов -->

    </div>
  </section>