      <div class="container">
        <section class="main-contacts__section" id="contacts">
          <div class="main__title-select">
            <h3 class="main__title">Контакты в Екатеринбурге</h3>
          </div>
          <div class="main__map">
            <iframe
              src="https://yandex.ru/map-widget/v1/?um=constructor%3Acb13319634e24f9098716ad613d1ada01cf15c54d37ccd48dfd1acf72589d2f1&amp;source=constructor"
              width="1200" 
              height="400" 
              frameborder="0">
            </iframe>
          </div>

          <div class="main__contacts">
            <div class="main__contacts-item">
              <div class="district">Уралмаш <br> Орджоникидзевский район </div>
              <div class="main__contacts-address">
                <div class="street">
                  ​​ТЦ Меркурий​ Проспект Космонавтов, 31а (​2 этаж)
                </div>
                <div class="opening-hours">
                  Пн-Пт с 9:00 до 18:00 <br>
                  Сб-Вс с 10:00 до 14:00  
                </div>
                <a class="howCanIgetTo" href="#">Как проехать</a>
              </div>
              <a class="main__contacts-phone" href="tel:+73432473046">+7 (343) 247-30-46</a>
            </div>

            <div class="main__contacts-item">
              <div class="district">Юго-Западный<br>Ленинский район</div>
              <div class="main__contacts-address">
                <div class="street">
                  ​ТЦ Уралец ​Улица Волгоградская, 49а​
                </div>
                <div class="opening-hours">
                  Пн-Пт с 9:00 до 18:00 <br>
                  Сб-Вс с 10:00 до 16:00
                </div>
                <a class="howCanIgetTo" href="#">Как проехать</a>
              </div>
              <a class="main__contacts-phone" href="tel:+73432473046">+7 (343) 247-30-46</a>
            </div>

          </div>
        </section>
      </div>
