      {% load static %}
      <div class="container">
        <section class="main-contacts__section" id="contacts">
          <div class="main__title-select">
            <h3 class="main__title">Контакты в Барнауле</h3>
            <span class="header-cityAbout">Барнаул</span>
            <figure class="header-expandMoreAbout">
                <img src="{%static 'img/expand_more.svg'%}" alt="expand_more">
            </figure>
          </div>
          <div class="main__map">
            <iframe
              src="https://yandex.ru/map-widget/v1/?um=constructor%3A6986c1130585e340e2dce3403f26b2263b474503c657f44c41d22014aa54f61f&amp;source=constructor"
              width="1200" 
              height="400" 
              frameborder="0">
            </iframe>
          </div>

          <div class="main__contacts">
            <div class="main__contacts-item">
              <div class="district">Индустриальный район</div>
              <div class="main__contacts-address">
                <div class="street">
                  ​Павловский тракт, 198е
                </div>
                <div class="opening-hours">
                  Пн-Пт с 9:00 до 18:00 <br>
                  Сб-Вс с 10:00 до 16:00  
                </div>
                <a class="howCanIgetTo" href="#">Как проехать</a>
              </div>
              <a class="main__contacts-phone" href="tel:+73852224164">+7(3852) 22-41-64</a>
            </div>

            <div class="main__contacts-item">
              <div class="district">Поток м-н<br>Октябрьский район</div>
              <div class="main__contacts-address">
                <div class="street">
                  ​Тимуровская, 74
                </div>
                <div class="opening-hours">
                  Пн-Пт с 9:00 до 18:00 <br>
                  Сб-Вс с 10:00 до 14:00
                </div>
                <a class="howCanIgetTo" href="#">Как проехать</a>
              </div>
              <a class="main__contacts-phone" href="tel:+73852224164">+7(3852) 22-41-64</a>
            </div>

          </div>
        </section>
      </div>