{%load static%}
<div class="contacts__address">
  <p class="contacts__address-title">Контакты</p>
  <div class="contacts__address-total">
    <div class="contacts__address-location">
      <img src="{%static 'img/location_contact.svg'%}" alt="location" />
      <p class="contacts__address-text">
        г. Томск, ​ТЦ Город, ​Улица Герцена, 61/1 (​1 этаж)
      </p>
    </div>
    <div class="contacts__address-works">
      <img src="{%static 'img/clock.svg'%}" alt="clock" />
      <p class="contacts__address-text">
        Пн-Пт с 9:00 до 18:00 <br>
        Сб-Вс с 10:00 до 14:00  
      </p>
    </div>
    <div class="contacts__address-phone">
      <img src="{%static 'img/call.svg'%}" alt="phone">
      <p class="contacts__address-text">
        +7 (3822) 98‒40‒30
        </p>
    </div>
  </div>
  <a class="button contacts__button" href="{%url 'etaxi:contacts' citygeo.name %}">Все филиалы</a>
</div>
<div class="map">
  <iframe
      src="https://yandex.ru/map-widget/v1/?um=constructor%3A0e91527eb07811c5fa19a282980dd74767581e05ee649c76f76fa4b28b410b8c&amp;source=constructor"
      width="690"
      height="440"
      frameborder="0">
  </iframe>
</div>